<div class="main-container">
  <header>
    <h1>Meu Aplicativo</h1>
    <nav>
      <ul>
        <li><LinkTo @route="index">Home</LinkTo></li>
        <li><LinkTo @route="segunda-pagina">Segunda Página</LinkTo></li>
      </ul>
    </nav>
  </header>
  
  <div class="table-container">
    <h2>Tabela de Usuários</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Senha</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |usuario|}}
          <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.senha}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
